@use 'variables' as *;

.avatar {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #3a4a5a;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.9;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__icon {
    width: 50%;
    height: 50%;
    color: $color-text-secondary;
  }
}
